<div class="small-12 medium-6 large-4 columns end">
	<div class="place-card row">
		<div class="small-4 medium-5 large-4 columns thumb-container">
			<img class="thumb" src="img/marker.png" alt="Map in 	Charlotte">
		</div>
		<div class="small-8 medium-7 large-7 columns">
			<span class="street">300 East</span>
			<br/>
			<span class="address"> 300 East blvd. Charlotte, NC. 28203</span>
		</div>

	</div>
</div>