<footer>
	
	<div class="small-4 columns">
		<a href="https://twitter.com/itsracine">@itsracine</a>
	</div>
	<div class="small-4 columns text-right">
		<a href="https://dribbble.com/shots/2493391-022-Search">#022</a>
	</div>
</footer>
