<!DOCTYPE html>
<html>
<head>
	<title>Search - Daily UI #022</title>
	<link rel="stylesheet" type="text/css" href="bower_components/foundation-sites/dist/foundation.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/app.css">
</head>
<body>

	<%- partial("partials/_search") -%>
	<%- partial("partials/_signature") -%>

	<%- partial("partials/_scripts") -%>
</body>
</html>